@media screen and (max-width: 575.98px) {
  .banner_tagline {
    padding: 10px;
  }
  .button_gradient,
  .button_transparent {
    padding: 10px 16px !important;
  }
  .login .form_container .button_gradient,
  .register .form_container .button_gradient {
    padding: 10px 40px !important;
  }
  .bestsellers .container .button_transparent {
    margin-top: 20px;
  }
  .subcribe_button,
  .subcribe_left input {
    font-size: 13px;
  }
  .blog .blog_title {
    margin-bottom: 20px;
  }
  .post_bottom > a,
  .product_bottom_option div:last-child a {
    font-size: 12px !important;
  }
  .footer .container div:nth-child(2) h4 {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
}
@media screen and (min-width: 1401px) {
}
@media screen and (max-width: 1199.98px) {
  .about_wrapper:first-child,
  .about_wrapper:nth-child(2) {
    margin-bottom: 25px;
  }
  .footer .container div:nth-child(2) div {
    padding-left: 25px;
  }
}
@media screen and (max-width: 991.98px) {
  .header_top {
    padding: 15px 0;
  }
  .menu_header {
    gap: 15px;
  }
  .logo_header {
    text-align: start !important;
  }
  .cart_counter {
    width: 13px;
    height: 13px;
  }
  .bestsellers > .image {
    top: -8%;
  }
  .branch {
    padding-bottom: 70px;
  }
  .categories {
    margin-top: 0;
  }
  .categories_title {
    color: var(--black-color);
  }
}
@media screen and (max-width: 767.98px) {
  .list_icon {
    margin-left: auto;
    gap: 15px;
  }
  .icon_toggle {
    margin-right: 15px;
  }
  .button_banner a:first-child {
    margin: 0 0 12px 0;
  }
  .banner,
  .login,
  .register,
  .search_page_banner {
    padding: 90px 0 50px;
  }
  .bestsellers,
  .branch,
  .subcribe,
  .about,
  .blog,
  .footer,
  .testimonials {
    padding-bottom: 40px;
  }
  .categories,
  .subcribe,
  .blog,
  .footer,
  .testimonials {
    padding-top: 40px;
  }
  .product_bottom_option .button_gradient {
    margin-top: 10px;
  }
  .mySwiper {
    padding: 0 0 30px;
  }
  .button_category {
    width: 290px;
  }
  .categories > .container .categories_slider_left div:nth-child(2) {
    padding-right: 0;
  }
  .categories_title {
    text-align: center;
  }
  .categories_title + div,
  .categories_title {
    margin-bottom: 30px;
  }
  .subcribe .image,
  .login_top,
  .register_top {
    margin-bottom: 30px;
  }
  .footer .container div:nth-child(2) > div {
    margin-top: 30px;
    padding: 0;
  }
  .register
    .form_wrapper
    form
    .form_container:nth-child(3)
    div
    > div:first-child {
    margin-bottom: 15px;
  }
}
/* active */
.dropdown_active {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1, 1);
}
.side_active {
  transform: translateX(0);
}
.button_category_active {
  color: var(--white-color) !important;
}
.tab_active {
  display: block;
}
.swiper-pagination-bullet-active {
  background-image: var(--primary-gradient-color);
}
