@media screen and (max-width: 575.98px) {
  .banner_tagline {
    padding: 10px;
  }
  .button_gradient,
  .button_transparent {
    padding: 10px 16px !important;
  }
  .bestsellers .container .button_transparent {
    margin-top: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.98px) {
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
}
@media screen and (min-width: 1401px) {
}
@media screen and (max-width: 991.98px) {
  .header_top {
    padding: 15px 0;
  }
  .menu_header {
    gap: 15px;
  }
  .logo_header {
    text-align: start !important;
  }
  .cart_counter {
    width: 13px;
    height: 13px;
  }
  .bestsellers > .image {
    top: -8%;
  }
  .branch {
    padding-bottom: 70px;
  }
  .categories {
    margin-top: 0;
  }
  .categories_title {
    color: var(--black-color);
  }
}
@media screen and (max-width: 767.98px) {
  .list_icon {
    margin-left: auto;
    gap: 15px;
  }
  .icon_toggle {
    margin-right: 15px;
  }
  .button_banner a:first-child {
    margin: 0 0 12px 0;
  }
  .banner {
    padding: 90px 0 50px;
  }
  .bestsellers,
  .branch,
  .categories {
    padding-bottom: 40px;
  }
  .categories {
    padding-top: 40px;
  }
  .product_bottom_option .button_gradient {
    margin-top: 10px;
  }
  .mySwiper {
    padding: 0 0 30px;
  }
  .button_category {
    width: 290px;
  }
  .categories > .container .categories_slider div:first-child {
    padding-right: 0;
  }
  .categories_title {
    text-align: center;
  }
  .categories_title + div, .categories_title {
    margin-bottom: 30px;
  }
}
